.footer__extra-links {
  display: block;
  margin: 0 auto;
  padding: 5px 0 20px;
  text-align: center;
}

.footer__extra-link {
  @include font(sans-serif, 500);
  color: color(Black);
  font-size: 10px;
  letter-spacing: 0.01em;
  margin: 0 5px;
  text-transform: uppercase;
  transition: color speed() timing();

  @include hover {
    color: color(Maverick);
  }
}
