<div data-section-id="{{ section.id }}" data-section-type="header">

  {%- assign logo = section.settings.image -%}
  {%- assign logoWidth = section.settings.logo-width | escape -%}
  {%- assign cartIcon = section.settings.cart-icon -%}

  <header class="header__header">
    <div class="header__container">
      <div class="header__logo"></div>
      <nav class="header__links">
        <a class="header__link" href="/pages/about-us">About Us</a>
        <a class="header__link" href="/pages/about-us">Log In</a>
        <a class="header__link -is-button" href="/pages/about-us">Get Started</a>
        <a class="header__link -is-cart" href="/cart">
          {% comment %}{% include 'icon' with 'bag' %}{% endcomment %}
          {% include 'icon' with 'cart' %}
        </a>
      </nav>
    </div>
  </header>
</div>

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Logo image",
      "info": "400 x 200px .jpg recommended"
    },
    {
      "type": "text",
      "id": "logo-width",
      "label": "Logo width",
      "info": "Custom logo width (in pixels)",
      "default": "400"
    },
    {
      "type": "checkbox",
      "id": "center-header",
      "label": "Center logo (or site title)"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "header-format",
      "label": "Header Format",
      "default": "normal",
      "info": "If header format set to Minimal, the logo position is always centered on smaller screen sizes regardless of position chosen above.",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "expanded",
          "label": "Expanded: show social links"
        },
        {
          "value": "minimal",
          "label": "Minimal: short and sticky"
        }
      ]
    },
    {
      "type": "header",
      "content": "Cart preview"
    },
    {
      "type": "select",
      "id": "cart-icon",
      "label": "Cart icon",
      "default": "cart",
      "options": [
        {
          "value": "cart",
          "label": "Cart"
        },
        {
          "value": "bag",
          "label": "Bag"
        }
      ]
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Main menu",
      "default": "main-menu",
      "info": "This menu supports dropdowns and mega menus ([?](http://support.pixelunion.net/article/412-how-to-set-up-your-stores-navigation))"
    },
    {
      "type": "range",
      "id": "meganav-limit-range",
      "label": "Truncate list after",
      "min": 3,
      "max": 18,
      "step": 1,
      "default": 6
    },
    {
      "type": "select",
      "id": "top-level-columns",
      "label": "Sub-columns layout",
      "options": [
        {
          "value": "one-column",
          "label": "One column"
        },
        {
          "value": "two-columns",
          "label": "Two columns"
        }
      ]
    }
  ]
}

{% endschema %}
