.Root {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.Title {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.Questions {
  list-style-type: none;
}
