<div class="search-wrap">
  <form action="/search" method="get">
    <input class="search-input" name="q" type="text" placeholder="{{ 'general.search_placeholder' | t }}" value="">
    {% include 'icon' with 'search' %}
  </form>
</div>
