<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 48.61 48.61" class="social-icon-facebook">
  <defs>
    <style>
      .social-icon-facebook .cls-1{fill:none;}
      .social-icon-facebook .cls-2{clip-path:url(#social-icon-facebook-clip-path);}
      .social-icon-facebook .cls-3{fill:#a7a9ac;}
    </style>
    <clipPath id="social-icon-facebook-clip-path">
      <rect class="cls-1" width="48.61" height="48.61"/>
    </clipPath>
  </defs>
  <title>Final_Icons_Social</title>
  <g class="cls-2">
    <path class="cls-3" d="M24.31,1.19A23.12,23.12,0,1,0,47.42,24.31,23.15,23.15,0,0,0,24.31,1.19m0,47.42A24.31,24.31,0,1,1,48.61,24.31,24.33,24.33,0,0,1,24.31,48.61"/>
    <path class="cls-3" d="M19.16,20.69h2.21V18.55a5.73,5.73,0,0,1,.71-3.31,3.93,3.93,0,0,1,3.43-1.61,13.87,13.87,0,0,1,4,.4L28.9,17.3A7.44,7.44,0,0,0,27.13,17c-.86,0-1.63.31-1.63,1.16v2.49H29l-.24,3.19H25.5V35H21.36V23.88H19.16Z"/>
  </g>
</svg>
