{%- capture svg_sprite -%}
  <div class="svg-sprite" style="width:0; height:0; visibility:hidden; position: absolute;">
    <svg xmlns="http://www.w3.org/2000/svg">
      
      
        <symbol id="arrow-fat-left" viewBox="0 0 372 571">
          
           <path d="M0 284h2L290 0l82 82-209 202 209 205-82 82L2 287l-2-3z"/> 
        </symbol>
      
        <symbol id="arrow-fat-right" viewBox="0 0 370 569">
          
           <path d="M0 489l208-204L0 80 79 0l289 282h2v3h-2L79 569 0 489z"/> 
        </symbol>
      
        <symbol id="arrow-right" viewBox="0 0 544 924">
          
           <path d="M0 842l381-381L2 80 82 0l462 461-82 80L79 924 0 842z"/> 
        </symbol>
      
        <symbol id="cart" viewBox="0 0 1229 860">
          
           <path d="M0 49c0-13.3 4.8-24.8 14.5-34.5S36.3 0 51 0h258c11.3 0 21.5 3.5 30.5 10.5S354.7 26 358 36l25 107h741l6-23c6-22.7 22.7-34 50-34 5.3 0 10 .7 14 2 10 3.3 18.3 9.2 25 17.5s10 18.2 10 29.5c0 5.3-.7 10-2 14l-129 422c-2.7 10-8.7 18.3-18 25s-19 10-29 10H436c-11.3 0-21.5-3.7-30.5-11s-15.2-16-18.5-26L270 98H51c-14.7 0-26.8-4.8-36.5-14.5S0 62.3 0 49zm410 192l65 266h537l4-10 78-256H410zm45 518c0-26.7 9.8-49.7 29.5-69s43.2-29 70.5-29c28 0 52 9.7 72 29s30 42.3 30 69c0 27.3-9.8 51-29.5 71s-43.8 30-72.5 30c-27.3 0-50.8-10-70.5-30S455 786.3 455 759zm71-434h183v98H549l-23-98zm269 98v-98h180l-27 98H795zm41 336c0-26.7 9.8-49.7 29.5-69s43.2-29 70.5-29c28 0 52 9.7 72 29s30 42.3 30 69c0 27.3-10 51-30 71s-44 30-72 30c-27.3 0-50.8-10-70.5-30S836 786.3 836 759z"/> 
        </symbol>
      
        <symbol id="close-circle" viewBox="0 0 477 475">
          
           <path d="M0 238c0-65.3 23.5-121.3 70.5-168S173.7 0 239 0s121.3 23.3 168 70 70 102.7 70 168-23.3 121.2-70 167.5S304.3 475 239 475s-121.5-23.2-168.5-69.5S0 303.3 0 238zm92 84l65 65 82-84 84 84 66-65-82-84 82-84-66-66-84 84-82-84-65 66 82 84-82 84z"/> 
        </symbol>
      
        <symbol id="down-angle-arrow" viewBox="0 0 924 545">
          
           <path d="M0 82L82 0l381 383L844 2l80 82-461 461-80-82L0 82z"/> 
        </symbol>
      
        <symbol id="expand-arrows" viewBox="0 0 385 385">
          
           <path d="M0 385V254l45 45 72-72 41 41-72 72 45 45H0zm0-254V0h131L86 45l72 71-41 41-72-71-45 45zm228 137l41-41 71 72 45-45v131H254l45-45-71-72zm0-152l71-71-43-45h129v131l-45-45-71 71-41-41z"/> 
        </symbol>
      
        <symbol id="hamburger-lines" viewBox="0 0 1229 1157">
          
           <path d="M0 1157v-135h1229v135H0zm0-339V680h1229v138H0zm0-340V340h1229v138H0zm0-342V0h1229v136H0z"/> 
        </symbol>
      
        <symbol id="info" viewBox="0 0 409 409">
          
           <path d="M0 204C0 147.3 19.7 99.2 59 59.5S146.7 0 204 0c56.7 0 105 19.8 145 59.5s60 87.8 60 144.5-20 105-60 145-88.3 60-145 60c-57.3 0-105.7-20-145-60S0 260.7 0 204zm147-12l8 21 2-2 27-19v10l-23 88c-1.3 6.7-2 17-2 31 0 6 1.3 11.7 4 17 4 4 9 6 15 6 7.3-1.3 18.5-6.7 33.5-16s29.2-21 42.5-35l2-3v-2l-11-18-2 2c-14 14-23.3 21-28 21v-3c0-2.7.7-5.3 2-8l22-92c1.3-5.3 2-15 2-29 0-6.7-.7-11.3-2-14-2-4-5.3-6-10-6-18 0-44.7 16.3-80 49l-2 2zm49-96c0 8 2.3 14.5 7 19.5s10.7 7.5 18 7.5c10 0 18.3-3.5 25-10.5S256 98 256 90s-2.3-14.3-7-19c-5.3-5.3-12-8-20-8-9.3 0-17.2 3.5-23.5 10.5S196 88 196 96z"/> 
        </symbol>
      
        <symbol id="mail" viewBox="0 0 406 287">
          
           <path d="M0 260V27c0-4 .7-6.7 2-8l131 119L2 269c-1.3-1.3-2-4.3-2-9zm19 25l133-133 51 43 51-43 133 133c-1.3 1.3-3.3 2-6 2H25c-2.7 0-4.7-.7-6-2zM19 2c1.3-1.3 3.3-2 6-2h356c2.7 0 4.7.7 6 2L254 121l-51 45-35-30-18-15L19 2zm253 136L404 19c1.3 1.3 2 4 2 8v233c0 1.3-.3 3-1 5s-1 3.3-1 4L272 138z"/> 
        </symbol>
      
        <symbol id="mini-cart" viewBox="0 0 1227 1226">
          
           <path d="M0 612c0-110.7 27.3-213 82-307S211 136.7 305 82 501.3 0 612 0c83.3 0 163 16.2 239 48.5s141.5 75.8 196.5 130.5 98.7 119.7 131 195 48.5 154.7 48.5 238-16.2 163-48.5 239-76 141.3-131 196S927 1145.2 851 1177.5 695.3 1226 612 1226c-110.7 0-213-27.3-307-82S136.7 1014.8 82 920.5 0 723.3 0 612zm190-215c0 8 3.2 14.8 9.5 20.5S213 426 221 426h131l70 288c5.3 15.3 15.7 23 31 23h364c6.7 0 12.8-2.3 18.5-7s9.2-10 10.5-16l78-258c1.3-1.3 2-4 2-8 0-14.7-7.7-24.3-23-29h-8c-14.7 0-24.3 7-29 21l-4 14H420l-17-65c-1.3-6-4.7-11.3-10-16s-11.3-7-18-7H221c-8 0-15.2 3.2-21.5 9.5S190 389 190 397zm273 434c0 16.7 5.7 30.8 17 42.5s25.3 17.5 42 17.5c17.3 0 32-5.8 44-17.5s18-25.8 18-42.5c0-17.3-6-31.8-18-43.5S539.3 770 522 770c-16.7 0-30.7 5.8-42 17.5s-17 26.2-17 43.5zm22-276h129v80H498l-13-80zm181 80v-80h127l-15 80H666zm24 196c0 16.7 5.8 30.8 17.5 42.5S733.3 891 750 891c17.3 0 31.8-5.8 43.5-17.5S811 847.7 811 831c0-17.3-5.8-31.8-17.5-43.5S767.3 770 750 770c-16.7 0-30.8 5.8-42.5 17.5S690 813.7 690 831z"/> 
        </symbol>
      
        <symbol id="person" viewBox="0 0 1229 1054">
          
           <path d="M0 1054V929c0-2 .3-4.7 1-8s3.7-10.3 9-21 12.8-21.3 22.5-32 25.2-23.2 46.5-37.5 46.3-27.8 75-40.5c11.3-5.3 37.7-19.5 79-42.5S316.8 704 360.5 686 450 654.3 498 645c-31.3-33.3-66.3-97.7-105-193-2-6-3.8-12-5.5-18s-3.2-11.3-4.5-16-2.3-10.7-3-18-1.2-12.7-1.5-16-.7-9.7-1-19-.5-15.2-.5-17.5V307c0-7.3-.5-22.2-1.5-44.5s-1.3-42-1-59 1.8-31.2 4.5-42.5c17.3-59.3 45.8-101 85.5-125S553.3 0 612 0c126 0 204 53 234 159 2.7 11.3 4.2 25.8 4.5 43.5s0 37.7-1 60-1.5 37.2-1.5 44.5c0 4.7.3 15 1 31s.7 26.8 0 32.5-1.3 14.2-2 25.5-2.2 21.2-4.5 29.5-5.2 17.2-8.5 26.5c-40 97.3-75.7 161.7-107 193 48.7 8.7 95.2 22 139.5 40S954 723.8 996 747.5s68.3 37.8 79 42.5c28.7 12 53.7 25.2 75 39.5s36.8 27.2 46.5 38.5 17.2 21.7 22.5 31 8.3 16.7 9 22l1 8v125H0z"/> 
        </symbol>
      
        <symbol id="ruler" viewBox="0 0 529 131">
          
           <path d="M0 131V0h529v131H0zm51-74h23V20H51v37zm66 29h22V20h-22v66zm65-29h25V20h-25v37zm66 29h25V20h-25v66zm68-29h22V20h-22v37zm65 29h23V20h-23v66zm66-29h24V20h-24v37z"/> 
        </symbol>
      
        <symbol id="search" viewBox="0 0 1229 1230">
          
           <path d="M0 461c0-83.3 20.7-160.3 62-231s97.3-126.7 168-168S377.7 0 461 0s160.3 20.7 231 62 126.7 97.3 168 168 62 147.7 62 231c0 97.3-28 186-84 266l364 365c16.7 18 25.7 38 27 60v5c0 20-7 37.3-21 52-14 14-31.3 21-52 21h-5c-22.7-1.3-42.3-10.7-59-28L727 838c-80 56-168.7 84-266 84-83.3 0-160.3-20.5-231-61.5S103.3 763.7 62 693 0 545 0 461zm154 0c0 85.3 30 157.8 90 217.5S376.3 768 461 768s157-29.8 217-89.5 90-132.2 90-217.5-30-157.8-90-217.5S545.7 154 461 154s-157 29.8-217 89.5-90 132.2-90 217.5z"/> 
        </symbol>
      
        <symbol id="shirt" viewBox="0 0 409 409">
          
           <path d="M0 153l92-24-2 280h229V129l90 24V51L272 0c-1.3 4-3.3 9.2-6 15.5s-9.8 14.8-21.5 25.5-25.2 16-40.5 16-28.5-4.8-39.5-14.5S146 23.3 142 14l-5-14L0 51v102z"/> 
        </symbol>
      
        <symbol id="triangle" viewBox="0 0 1159 1161">
          
           <path d="M0 1161h1159L520 0 0 1161z"/> 
        </symbol>
      
        <symbol id="facebook" viewBox="0 0 26 25">
          
           <title> facebook </title> <path d="M13 0C6.103 0 .5 5.603.5 12.5c0 6.812 5.444 12.354 12.22 12.5v-9.9H9.874v-3.125h2.844V8.85c0-2.478 1.514-4.15 4.517-4.15 1.318 0 2.246.207 2.246.207v2.905h-1.99c-.915 0-1.367.513-1.367 1.417v2.746h3.125l-.452 3.125h-2.673v9.51c5.396-1.392 9.375-6.287 9.375-12.11C25.5 5.603 19.897 0 13 0z" fill="#2C2C2C" fill-rule="evenodd"/> 
        </symbol>
      
        <symbol id="googleplus" viewBox="0 0 25 25">
          
           <title> googleplus </title> <path d="M12.5 0C7.52 0 3.235 2.893 1.22 7.117 2.406 5.908 4.164 5.09 5.995 5.09h7.116l-1.599 1.16H9.265c1.502.574 2.283 2.32 2.283 4.114 0 1.501-.818 2.807-2.002 3.723-1.16.903-1.355 1.282-1.355 2.026 0 .672 1.208 1.77 1.855 2.234 1.88 1.33 2.515 2.54 2.515 4.602 0 .696-.207 1.38-.55 2.051h.489C19.421 25 25 19.421 25 12.5S19.421 0 12.5 0zm6.25 9.375V12.5h-1.563V9.375h-3.125V7.812h3.126V4.688h1.562v3.125h3.125v1.563H18.75zm-12.5 5.383c1.819.061 3.064-1.855 2.747-4.26-.318-2.393-2.051-4.333-3.907-4.394-1.819-.062-3.04 1.794-2.722 4.199.318 2.405 2.063 4.394 3.882 4.455zm.232 4.016c-.525-.549-.952-1.184-.952-1.965 0-.488.146-.928.342-1.33h-.635c-2.661 0-4.602-1.526-5.213-3.65C0 12.06 0 12.269 0 12.5c0 2.551.757 4.895 2.05 6.885a8.692 8.692 0 0 1 3.211-.61h1.22zm4.138 3.736c-.293-1.184-1.355-1.758-2.832-2.771a5.547 5.547 0 0 0-1.77-.293 6.264 6.264 0 0 0-3.296.866 12.477 12.477 0 0 0 7.666 4.517c.232-.5.318-1.013.318-1.599 0-.232-.025-.488-.086-.72z" fill="#2C2C2C" fill-rule="evenodd"/> 
        </symbol>
      
        <symbol id="instagram" viewBox="0 0 26 25">
          
           <title> instagram </title> <path d="M13 0C6.103 0 .5 5.603.5 12.5S6.103 25 13 25s12.5-5.603 12.5-12.5S19.897 0 13 0zm7.288 17.712a2.073 2.073 0 0 1-2.076 2.076H7.788a2.073 2.073 0 0 1-2.076-2.076V7.288c0-1.148.928-2.076 2.076-2.076h10.424c1.148 0 2.076.928 2.076 2.076v10.424zM18.212 6.775H16.65a.518.518 0 0 0-.525.513V8.85c0 .293.232.525.525.525h1.562c.281 0 .513-.232.513-.525V7.288a.516.516 0 0 0-.513-.513zM13 15.1c1.44 0 2.6-1.16 2.6-2.6 0-1.44-1.16-2.6-2.6-2.6-1.44 0-2.6 1.16-2.6 2.6 0 1.44 1.16 2.6 2.6 2.6zm4.163-2.6A4.16 4.16 0 0 1 13 16.663 4.16 4.16 0 0 1 8.837 12.5c0-.354.037-.708.122-1.038H7.275v6.25c0 .281.232.513.513.513h10.424c.281 0 .513-.232.513-.513v-6.25h-1.684c.085.33.122.684.122 1.038z" fill="#2C2C2C" fill-rule="evenodd"/> 
        </symbol>
      
        <symbol id="pinterest" viewBox="0 0 25 25">
          
           <title> pinterest </title> <path d="M12.5 0C5.579 0 0 5.579 0 12.5c0 5.127 3.064 9.521 7.495 11.462-.06-.866-.024-1.94.208-2.868.22-1.038 1.611-6.824 1.611-6.824s-.403-.781-.403-1.978c0-1.843 1.074-3.234 2.405-3.234 1.123 0 1.672.842 1.672 1.88 0 1.123-.72 2.832-1.098 4.43-.318 1.331.671 2.393 1.965 2.393 2.38 0 3.967-3.027 3.967-6.616 0-2.759-1.819-4.81-5.176-4.81-3.796 0-6.164 2.832-6.164 5.994 0 1.099.317 1.843.806 2.454.232.268.293.378.207.696-.06.231-.207.78-.256.988-.098.318-.354.428-.647.318-1.734-.696-2.54-2.613-2.54-4.773 0-3.565 2.98-7.813 8.936-7.813 4.749 0 7.898 3.467 7.898 7.178 0 4.883-2.71 8.557-6.738 8.557-1.355 0-2.637-.72-3.064-1.562 0 0-.72 2.893-.867 3.442-.268.952-.781 1.916-1.281 2.661 1.135.354 2.319.525 3.564.525C19.421 25 25 19.421 25 12.5S19.421 0 12.5 0z" fill="#2C2C2C" fill-rule="evenodd"/> 
        </symbol>
      
        <symbol id="tumblr" viewBox="0 0 26 25">
          
           <title> tumblr </title> <path d="M13 0C6.079 0 .5 5.579.5 12.5S6.079 25 13 25s12.5-5.579 12.5-12.5S19.921 0 13 0zm5.212 20.313s-1.538 1.037-4.174 1.037c-3.382 0-4.651-1.672-4.651-4.687v-5.408H6.75V8.618c2.258-.744 3.796-1.587 4.163-4.968h2.612v4.162h4.162v3.65h-4.162v4.163c0 1.88.195 2.43 2.075 2.43 1.135 0 2.612-.428 2.612-.428v2.686z" fill="#2C2C2C" fill-rule="evenodd"/> 
        </symbol>
      
        <symbol id="twitter" viewBox="0 0 25 25">
          
           <title> twitter </title> <path d="M12.5 0C5.579 0 0 5.579 0 12.5S5.579 25 12.5 25 25 19.421 25 12.5 19.421 0 12.5 0zm7.605 9.753v.464c0 4.688-3.552 10.095-10.095 10.095-1.99 0-3.87-.549-5.432-1.562.256.024.549.061.83.061 1.684 0 3.186-.671 4.406-1.623-1.538-.025-2.868-.99-3.308-2.405.208.036.44.06.672.06.317 0 .635-.024.927-.11-1.623-.353-2.844-1.77-2.844-3.503v-.036a3.2 3.2 0 0 0 1.6.44 3.513 3.513 0 0 1-1.563-2.955c0-.635.17-1.245.464-1.794a10.084 10.084 0 0 0 7.348 3.735 3.616 3.616 0 0 1-.085-.806c0-1.977 1.562-3.564 3.528-3.564 1.013 0 1.94.44 2.575 1.123a7.14 7.14 0 0 0 2.222-.867c-.256.843-.781 1.538-1.526 1.978a8.076 8.076 0 0 0 2.051-.562c-.488.696-1.074 1.343-1.77 1.831z" fill="#2C2C2C" fill-rule="evenodd"/> 
        </symbol>
      
        <symbol id="vimeo" viewBox="0 0 26 25">
          
           <title> vimeo </title> <path d="M13 0C6.079 0 .5 5.579.5 12.5S6.079 25 13 25s12.5-5.579 12.5-12.5S19.921 0 13 0zm-1.038 20.837c-1.977 0-2.807-2.063-3.125-3.125L6.75 10.938c-.256-.843-.671-1.038-2.087 0l-.635-.696S7.068 6.25 9.179 6.25c2.112 0 2.197 3.1 2.466 4.858.28 1.795.83 4.517 1.526 4.517.72 0 2.954-3.1 2.954-4.517 0-1.037-.952-1.904-2.368-1.208.72-2.808 3.174-3.65 4.602-3.65 1.38 0 2.453 1.074 2.453 2.808 0 4.516-6.591 11.78-8.85 11.78z" fill="#2C2C2C" fill-rule="evenodd"/> 
        </symbol>
      
        <symbol id="youtube" viewBox="0 0 25 25">
          
           <title> youtube </title> <path d="M12.5 0C5.579 0 0 5.579 0 12.5S5.579 25 12.5 25 25 19.421 25 12.5 19.421 0 12.5 0zm0 18.225c-7.813 0-7.813 0-7.813-5.725s0-5.725 7.813-5.725 7.813 0 7.813 5.725 0 5.725-7.813 5.725zm-2.087-2.6l5.212-3.125-5.212-3.125v6.25z" fill="#2C2C2C" fill-rule="evenodd"/> 
        </symbol>
      
    </svg>
  </div>
{%- endcapture -%}
{{ svg_sprite | strip_newlines }}