$speeds: (
  animate : 0.3s,
  hover   : 0.15s,
  instant : 0.0001s,
);

@function speed($keys...) {
  $value: $speeds;

  @if length($keys) == 0 {
    @return map-get($value, hover);
  }

  @each $key in $keys {
    @if (type-of($key) == list) {
      $value: speed($key...);
    } @else if (type-of($key) == number) {
      @if (unitless($key) == true) {
        $value: $value * $key;
      } @else {
        $value: $value + $key;
      }
    }

    @if (type-of($key) == string) {
      $value: map-get($value, $key);
    }
  }

  @return $value;
}
