.homepage__demo__container {
  display: block;
  position: relative;

  @include min-width(desktop) {
    align-items: stretch;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}

.homepage__demo__filler {
  @include background-image;
  display: none;
  flex: 0 0 50%;
  pointer-events: none;

  @include min-width(desktop) {
    display: block;
  }
}

.homepage__demo__text {
  background-color: color(Maverick);
  padding: 20px;
  padding-left: 140px;

  @include min-width(desktop) {
    flex: 0 0 50%;
    padding: 100px;
  }

  > h2 {
    @include font(sans-serif, 900);
    color: color(Loulou);
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 10px;

    @include min-width(desktop) {
      font-size: 52px;
      line-height: 1;
    }
  }

  > p {
    @include font(serif, 400);
    color: color(Loulou);
    font-size: 16px;
    margin: 0 0 20px;

    @include min-width(desktop) {
      font-size: 24px;
    }
  }

  > button {
    @include button;
  }
}

$phoneWidth: 250px;

.homepage__demo__image {
  @include aspect-ratio(9, 16);
  @include background-image;
  left: 20px;
  pointer-events: none;
  position: absolute;
  top: 20px;
  width: 100px;

  @include min-width(desktop) {
    left: 50%;
    margin-left: -$phoneWidth / 2;
    top: 100px;
    width: $phoneWidth;
  }
}
