.homepage__process__wrapper {
  padding: 60px 10%;
}

.homepage__process__title {
  @include font(sans-serif, 900);
  color: color(Loulou);
  font-size: 52px;
  margin: 0;
  text-align: center;
}

.homepage__process__container {
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.homepage__process {
  flex: 0 0 percentage(1/3);
  padding: 30px;
}

.homepage__process__icon {
  @include font(sans-serif, 100);
  font-size: 150px;
  color: color(Norway);
  text-align: center;
}

.homepage__process__text {
  @include font(serif, 400);
  color: color(Loulou);
  font-size: 18px;
  text-align: center;
}

.homepage__process__button {
  @include font(sans-serif, 900);
  background-color: color(Loulou);
  border: none;
  color: color(White);
  font-size: 24px;
  padding: 20px 40px;
  text-transform: uppercase;
}
