.header__links {
  text-align: right;
}

.header__link {
  @include font(sans-serif, 400);
  color: color(Loulou);
  font-size: 20px;
  line-height: 1;
  margin: 0 10px;
  padding: 5px 10px;
  text-transform: uppercase;

  &.-is-button {
    border: 1px solid color(Loulou);
  }

  svg {
    height: 24px;
    width: 24px;
  }
}
