<main class="homepage__container">
  <div class="homepage__hero__container">
    <div class="homepage__hero__text-container">
      <h1 class="homepage__hero__title">Curated skin care for you and your budget.</h1>
      <p class="homepage__hero__text">Skin care recommendations by your personal esthetician.</p>
      <button class="homepage__hero__button">Get Started</button>
    </div>
  </div>

  <div class="homepage__intro__wrapper">
    <div class="homepage__intro__boxes-container">
      <div class="homepage__intro__boxes-title">Finding the right skin care products is hard.</div>

      <div class="homepage__intro__box">
        <div class="homepage__intro__box-title">
          Paid influencers that don’t know your skin
        </div>
      </div>

      <div class="homepage__intro__box">
        <div class="homepage__intro__box-title">
          Your pushy sister-in-law trapped in a pyramid scheme
        </div>
      </div>

      <div class="homepage__intro__box">
        <div class="homepage__intro__box-title">
          Online product overload
        </div>
      </div>

      <div class="homepage__intro__box">
        <div class="homepage__intro__box-title">
          “Experts” at the mall
        </div>
      </div>
    </div>

    <div class="homepage__intro__title">Say hello to friss</div>
    <div class="homepage__intro__text">Finally, someone to simplify the process.</div>
  </div>

  <div class="homepage__process__wrapper">
    <div class="homepage__process__title">Getting your curated skin care recommendation is easy and free.</div>

    <div class="homepage__process__container">

      <div class="homepage__process">
        <div class="homepage__process__icon">a</div>
        <div class="homepage__process__text">Tell us about yourself. Answer a few easy questions to help our experts get started.</div>
      </div>

      <div class="homepage__process">
        <div class="homepage__process__icon">b</div>
        <div class="homepage__process__text">Chat via text with an expert. Our estheticians work with you to hand-select your skin care regimen.</div>
      </div>

      <div class="homepage__process">
        <div class="homepage__process__icon">c</div>
        <div class="homepage__process__text">No obligations or subscriptions. Buy the products you want, when you want.</div>
      </div>
    </div>

    <button class="homepage__process__button">Get Started</button>
  </div>

  <div class="homepage__why__wrapper">
    <div class="homepage__why__container">
      <div class="homepage__why__text-container">
        <p>
          We partner with practicing, licensed estheticians with years of experience in the skin care industry. They do the heavy lifting to hand-select skin care products for you. Using the information you provide, they work with you to recommend products that work with your skin type, concerns, and budget.
        </p>
        <p>No pushy sales environment.</p>
        <p>No obligations.</p>
        <p>Only the best products curated for you.</p>
      </div>

      <div class="homepage__why__title-container">
        <div class="homepage__why__title">Why friss?</div>
        <button class="homepage__why__button">Get Started</button>
      </div>
    </div>
  </div>

  <div class="homepage__demo__container">
    <div class="homepage__demo__filler"></div>

    <div class="homepage__demo__text">
      <h2>Start the conversation.</h2>

      <p>
        Chat with a professional esthetician. Once you complete a short survey about your skin type and concerns, your esthetician will follow up in order to recommend skin care products that are right for you.
      </p>

      <button>Get Started</button>
    </div>

    <div class="homepage__demo__image"></div>
  </div>
</main>
