<main class="homepage__container">
  <div class="homepage__hero__container">
    <h1 class="homepage__hero__title">Curated skin care for you and your budget.</h1>
    <p class="homepage__hero__text">Skin care recommendations by your personal esthetician.</p>
    <button class="homepage__hero__button">Get Started</button>
  </div>
</main>
